body {
    padding: 0;
    margin: 0;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 18px;
    line-height: 150%;
    color:#333;
    background: #efeee7;
    background: url('../Images/chicago.jpg') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
   }

   .container-body{
    width: 80%;
    margin: 30px;
    margin-bottom: 100px;
   }

  h1 {
    padding: 20px 0;
    margin: 0;
    margin-bottom: 20px;
    font-size: 28px;
    color:green;
    text-align: center;
  }
  #mydiv{
      width: 50%;
      background-color:wheat;
      margin: 30px;
      margin-bottom: 100px;
  }
  #mydivheader{
      padding: 10px 0;
      margin: 0%;
      color: green;
  }
  #p{
      padding: 10px 0;
      color: green;
  }

  .myForm{
      width: 60%;
      padding: 20px;
      margin-left: 5%;
  }

  h2 {
    color: green;
    font-size: 24px;
    margin-left: 10%;
  }
  
  .xy {
      border: gray 2px solid;
      width:90%;
      margin:0 auto;
      border-radius: 10px;
      justify-content:center;
      display:flex;
      flex-wrap: wrap;
      margin-bottom: 80px;
      background-color: white;
 }
 .personal{
     width: 90%;
     margin:0 auto;
     padding: 20px;
 }

 .imgDiv {
     width: 40%;
     margin: 10px;
    
}

img {
    width: 100%;
}
 
#div-1{
    width: 96%;
    margin: 0 auto;
}
    
.imp{
    display: flex;
    width: 80%;
    margin-bottom: 20px;
}
.myLin{
    margin-bottom: 50px;
}

footer {
    background-color: #333;
    color: #efeee7;
     position: fixed; 
     height: 60%px; 
     bottom: 0;
      width: 100%; 
      border-top: 5px green solid;
      margin-top: 100px;
    }
    footer p{
        text-align: center;
    }
    /* @media screen and (max-width:320px){
        img {
            width: 500px;
            height: 200px;
            margin-top:30px;
        }
         
    } */